:root {
    --primary-color: #43a047;
    --primary-color-light: #76d275;
    --primary-color-dark: #00701a;
    --secondary-color: #d4e157;
    --secondary-color-light: #ffff89;
    --secondary-color-dark: #a0af22;
    --white-color: #fff;
    --light-color: #eee;
    --text-color: #333;
    --background-board-color: #fafafa;
    --border-color: #e1e1e1;
}

.bg-cart {
    background-color: var(--white-color);
    border-radius: 3px;
    /* padding: 12px 0; */
}

.cart-empty-product-item {
    text-align: center;
    color: var(--text-color);
    width: 100%;
    padding: 30px 0;
}

.cart-empty-product-item a {
    display: inline-block;
    font-size: 24px;
    color: var(--primary-color);
    font-weight: 500;
    margin-top: 12px;
    cursor: pointer;
}

.cart-empty-product-item a:hover {
    opacity: .8;
}

.cart-product-item-wrapper {
    display: flex;
    align-items: center;
    color: var(--text-color);
    cursor: default;
}

.cart-product-item-wrapper:first-child {
    flex: 1;
}

.cart-product-item {
    display: flex;
    align-items: center;
    color: var(--text-color);
    width: 100%;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .03);
    cursor: default;
}

.cart-product-item-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 3px;
    cursor: pointer;
}

.cart-product-item-img:hover {
    opacity: .7;
}

.cart-product-item-wrapper-info {
    margin: 0 24px;
    flex: 1;
}

.cart-product-item-name {
    font-size: 18px;
    margin-bottom: 8px;
    cursor: pointer;
}

.cart-product-item-name:hover {
    color: var(--primary-color);
}

.cart-product-item-price {
    font-size: 16px;
    color: var(--primary-color);
}

.cart-product-item-quantity-group {
    display: flex;
    align-items: center;
    margin: 0 24px;
}
    

.cart-product-item-quantity {
    padding: 8px;
    font-size: 16px;
    min-width: 40px;
    text-align: center;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.cart-product-item-quantity-group button:first-child {
    padding: 8px 12px;
    font-size: 16px;
    min-width: 40px;
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
}

.cart-product-item-quantity-group button:last-child {
    padding: 8px 12px;
    font-size: 16px;
    min-width: 40px;
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.cart-product-item-quantity-group button:hover {
    background-color: var(--light-color);
}

.cart-total-price h5,
.cart-product-item-total {
    font-size: 24px;
    margin-left: 24px;
}

.cart-total-price {
    width: 100%;
    text-align: right;
    color: var(--text-color);
    padding: 20px 30px;
    border-top: 1px solid var(--border-color);
}

.cart-total-price h5 {
    color: var(--primary-color);
}

.cart-total-price button {
    margin-top: 12px;
    padding: 12px 16px;
    border-radius: 3px;
    color: var(--white-color);
    border: none;
    background-color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.cart-total-price button:hover {
    opacity: .8;
    cursor: pointer;
}

.cart-remove-product-item-btn {
    padding: 8px 12px;
    margin-left: 12px;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    cursor: pointer;
}

.cart-remove-product-item-btn i {
    font-size: 16px;
}

.cart-remove-product-item-btn:hover {
    background-color: var(--light-color);
}

@media (max-width: 768px) {
    .cart-product-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 12px;
    }
    
}

@media (max-width: 575px) {
    
    

    .cart-product-item-wrapper:first-child {
        margin-bottom: 12px;
    }

    .cart-total-price {
        padding: 20px 12px;
    }
}